<p>
  <%=h @category.parent %> /
  <%=h @category.name %>
</p>

<p>
  <%=h @category.description %>
</p>

<p>
/
  <% @subcategories.each do |c| %>
    <%= link_to c, c %>
  <% end %>
</p>


<p>
  <%=h @category.picurl %>
</p>

<!--
<p>
  <b>Discount:</b>
  <%=h @category.discount %>
</p>
-->
<%=render :partial => "items/itemtable", :locals => { :items => @category_items, :dots => 2 } %>
<%=render :partial => "items/itemtable", :locals => { :items => @subcategories_items, :dots => 2 } %>

<% if admin? %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>
<%= link_to 'Takaisin', categories_path %>
