
<table>
<tr>
<td>
  <p align="right"><%= link_to "<img src=\"../uploads/#{@item.picurl}\" width=\"320\" />", "../uploads/#{@item.picurl}" %></p>
</td>
<td>
<p>
  <b>Name:</b>
  <%=h @item.name %>
</p>

<p>
  <b>Category:</b>
  <%=h @item.category %>
</p>

<p>
  <b>Description:</b>
  <%=h @item.description %>
</p>

<p>
  <b>Price:</b>
  <%=h @item.price %>
</p>

<p>
  <b>Discount:</b>
  <%=h @item.discount %>
</p>

<p>
  <b>Saldo:</b>
  <%=h @item.saldo %>
</p>

<p>
  <b>Picurl:</b>
  <%=h @item.picurl %>
</p>

<p>
  <b>Modified:</b>
  <%=h @item.updated_at %>
</p>

</td>
</tr>
</table>

<%= link_to 'New item', new_item_path %> |
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
