
<table>
<tr>
<td>
  <p align="right"><%= link_to "<img src=\"../uploads/#{@item.picurl}\" width=\"320\" />", "../uploads/#{@item.picurl}" %></p>
</td>
<td>
<p>
  <b>Tuote:</b>
  <%=h @item.name %>
   <% form_for @item, :url => addtocart_path(@item), :html => {:method => :post}  do |f| %>
        <%= f.hidden_field :id %>
        Lkm. <%= f.text_field :saldo, :default => 1, :size => 1 %>
        <%= f.submit 'LISÄÄ OSTOSKORIIN' %>
    <% end %>
</p>

<p>
  <b>Kategoria:</b>
  <%=h @item.category %>
</p>

<p>
  <b>Kuvaus:</b>
  <%=h @item.description %>
</p>

<p>
  <b>Hinta:</b>
  <%=h @item.price-@item.discount %>
<% if !@item.discount.nil? && @item.discount > 0 %>
<marquee><blink><b>!! TARJOUS !!</b></blink></marquee>
</p>

<p>
  <b>Alennus:</b>
  <%=h @item.discount %>
<% end %>
</p>

<p>
  <b>Välittömästi varastossa:</b>
  <%=h @item.saldo %>
</p>

<!--
<p>
  <b>Kuva:</b>
  <%=h @item.picurl %>
</p>
-->
<p>
  <b>Päivitetty:</b>
  <%=h @item.updated_at %>
</p>

</td>
</tr>
</table>

<% if admin? %>
<%= link_to 'New item', new_item_path %> |
<%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', items_path %>
