<p>
  <b>Status:</b>
  <%=h @order.status %>
</p>


<p>
  <b>Kokonaishinta:</b>
  <%=h @order.sum %>
</p>

<p>
  <b>Tuotteet:</b>
  <% @order_items.each do |c| %>
      <br><%= h c %>
    <% end %>

</p>

<p>
  <b>Maksutapa:</b>
  <%=h @order.paymethod %>
</p>

<p>
  <b>Nimi:</b>
  <%=h @order.name %>
</p>

<p>
  <b>Osoite:</b>
  <%=h @order.address %>
</p>

<p>
  <b>Postinumero:</b>
  <%=h @order.zip %>
</p>

<p>
  <b>Kaupunki:</b>
  <%=h @order.city %>
</p>

<p>
  <b>Maa:</b>
  <%=h @order.country %>
</p>

<p>
  <b>Puhelin:</b>
  <%=h @order.phone %>
</p>

<p>
  <b>Sähköposti:</b>
  <%=h @order.email %>
</p>

<p>
  <b>Päivitetty:</b>
  <%=h @order.updated_at %>
</p>

<p>
  <b>Huom:</b>
  <%=h @order.notes %>
</p>

Saat vielä vahvistussähköpostin tilauksestasi. Kiitos jo etukäteen!
<%= link_to 'Takaisin', orders_path %>

