<h1>Editing order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Tuotteet" %><br />
 
  <% @order_items.each do |c| %>
      <br><%= h c %>
    <% end %>
  </p>

  <p>
    <%= f.label "Kokonaishinta" %><br />
    <%= h @order.sum %> eur
  </p>
  <p>
    <%= f.label "Maksutapa"%><br />
    <%= f.text_field :paymethod %>
  </p>
  <p>
    <%= f.label "Nimi"%><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Katuosoite"%><br/>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label "Postinumero" %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label "Kaupunki" %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label "Maa" %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label "Puhelin" %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label "Sähköposti" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label "Hyväksyn tilaussäännöt" %><br />
    <%= f.check_box :terms_of_service %>
  </p>
  <p>
    <%= f.label "Muistiinpanot" %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.submit 'Päivitä', :name => 'submit' %>
  </p>
<% end %>

<%= link_to 'Näytä', @order %> |
<%= link_to 'Back', orders_path %>
