<h1>Tilaukset</h1>

<table class="round shadow">
  <tr>
    <th>Luotu</th>
    <th>Tuotteet</th>
    <th>Kokonaishinta</th>
    <th>Maksutapa</th>
    <th>Osoite</th>
    <th>Yhteystiedot</th>
    <th>Status</th>
    <th>Muistiinpanot</th>
  </tr>

<% @orders.each do |order| %>
<%if !order.archived?%>
  <tr>
    <td><%=h order.created_at.strftime("%e.%m.%Y %I:%M")  %></td>
    <td>
      <% @order_items.each do |oi| %>
      <% if(oi.order_id == order.id) %>
        <br><%= link_to oi, item_path(oi.item_id) %>
        <% if(order.status != 'Tilaus jätetty' || admin?) %> 
          <%= link_to 'Poista', oi, :method => :delete %>
        <% end %>
      <% end %>
    <% end %>
    </td>
    <td><%=h order.sum %></td>
    <td><%=h order.paymethod %></td>
    <td><%=h order.name %><br/>
    <%=h order.address %><br/>
    <%=h order.zip %><br/>
    <%=h order.city %><br/>
    <%=h order.country %>
    </td><td>
    <%=h order.phone %><br/>
    <%=h order.email %></td>
    <td><%=h order.status %><br/>
    <%=h order.updated_at.strftime("%e.%m.%Y %I:%M") %></td>
    <td><%=h order.notes %></td>
    <% if(order.status == 'muokattavana' && !admin?) %>
    <td>
      <% if(@order_items.size > 0) %>
          <% form_for order do |f| %>
            <%= f.submit 'VAHVISTA TILAUS', :name => 'submit' %>
          <% end %>
      <% end %>
    </td>
    <!--<td><%= link_to 'Show', order %></td>-->
    <td><%= link_to 'Muokkaa', edit_order_path(order) %></td>
    <td><%= link_to 'Tuhoa', order, :confirm => 'Haluatko varmasti tuhota tilauksen?', :method => :delete %></td>
    <% end %>
    <% if(admin?) %>
      <td>
        <% submitvalue = nil %>       
        <% if(order.status == 'Tilaus jätetty') %>
          <% submitvalue = 'VASTAANOTA TILAUS' %>       
        <% end %>
        <% if(order.status == 'Toimitusta valmistellaan') %>
          <% submitvalue = 'POSTITA TILAUS' %>       
        <% end %>
        <%if submitvalue %>
        <% form_for order do |f| %>
          <%= f.submit submitvalue, :name => 'submit' %>
        <% end %>
        <%end%>
      </td>
      <td><%= link_to 'Muokkaa', edit_order_path(order) %></td>
      <td><%= link_to 'Arkistoi', order, :confirm => 'Haluatko varmasti arkistoida tilauksen?', :method => :delete %></td>
    <% end %>
  </tr>
<%end%>
<% end %>
</table>

<br />
<!--
<%= link_to 'Tee uusi tilaus', new_order_path %>
-->
