<h1>Tilaukset</h1>

<table>
  <tr>
    <th>Luotu</th>
    <th>Tuotteet</th>
    <th>Kokonaishinta</th>
    <th>Maksutapa</th>
    <th>Osoite</th>
    <th>Yhteystiedot</th>
    <th>Status</th>
    <th>Muistiinpanot</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.created_at.strftime("%e.%m.%Y %I:%M")  %></td>
    <td>
      <% @order_items.each do |oi| %>
      <br><%= link_to oi, item_path(oi.item_id) %> <%= link_to 'Poista', oi, :method => :delete %>
    <% end %>
    </td>
    <td><%=h order.sum %></td>
    <td><%=h order.paymethod %></td>
    <td><%=h order.name %><br/>
    <%=h order.address %><br/>
    <%=h order.zip %><br/>
    <%=h order.city %><br/>
    <%=h order.country %>
    </td><td>
    <%=h order.phone %><br/>
    <%=h order.email %></td>
    <td><%=h order.status %><br/>
    <%=h order.updated_at.strftime("%e.%m.%Y %I:%M") %></td>
    <td><%=h order.notes %></td>
    <td>
      <% if(@order_items.size > 0) %>
         <% form_for order do |f| %>
          <%= f.submit 'VAHVISTA TILAUS', :name => 'submit' %>
        <% end %>
      <% end %>
    </td>
    <!--<td><%= link_to 'Show', order %></td>-->
    <td><%= link_to 'Muokkaa', edit_order_path(order) %></td>
    <td><%= link_to 'Tuhoa', order, :confirm => 'Haluatko varmasti tuhota tilauksen?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Tee uusi tilaus', new_order_path %>
