<h1>Tilaukset</h1>

<table>
  <tr>
    <th>Tuotteet</th>
    <th>Kokonaishinta</th>
    <th>Maksutapa</th>
    <th>Osoite</th>
    <th>Yhteystiedot</th>
    <th>Luotu</th>
    <th>Status</th>
    <th>Muistiinpanot</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td>
      <% @order_items.each do |c| %>
      <br><%= link_to c, item_path(c.item_id) %>
    <% end %>
    </td>
    <td><%=h order.sum %></td>
    <td><%=h order.paymethod %></td>
    <td><%=h order.name %><br/>
    <%=h order.address %><br/>
    <%=h order.zip %><br/>
    <%=h order.city %><br/>
    <%=h order.country %>
    </td><td>
    <%=h order.phone %><br/>
    <%=h order.email %></td>
    <td><%=h order.created_at %></td>
    <td><%=h order.status %></td>
    <td><%=h order.notes %></td>
    <td>
       <% form_for order do |f| %>
        <%= f.submit 'VAHVISTA TILAUS', :name => 'submit' %>
      <% end %>
    </td>
    <!--<td><%= link_to 'Show', order %></td>-->
    <td><%= link_to 'Muokkaa', edit_order_path(order) %></td>
    <td><%= link_to 'Tuhoa', order, :confirm => 'Haluatko varmasti tuhota tilauksen?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Tee uusi tilaus', new_order_path %>
