<h1>Uusi tilaus</h1>

<% form_for(@order) do |f| %>
  <p>
    <%= f.label "Maksutapa"%><br />
    <%= f.select(:paymethod, options_for_select([['Tilisiirto etukäteen', 'Tilisiirto'], ['Postiennakko +5 eur', 'Postiennakko']], 'Tilisiirto')) %>
  </p>
  <p>
    <%= f.label "Nimi"%><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Katuosoite"%><br/>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label "Postinumero" %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label "Kaupunki" %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label "Maa" %><br />
    <%= f.select(:country, options_for_select([['Suomi', 'Suomi']], 'Suomi')) %>
  </p>
  <p>
    <%= f.label "Puhelin" %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label "Sähköposti" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label "Hyväksyn tilaussäännöt" %><br />
    <%= f.check_box :terms_of_service %>
  </p>
  <p>
    <%= f.label "Muistiinpanot" %><br />
    <%= f.text_field :notes %>
  </p>
  <p> 
    <%= f.submit "Tallenna" %> 
  </p>
<% end %>

<%= link_to 'Takaisin', orders_path %>
