<table><tr>
<td><%= link_to 'Etusivu', items_path %></td>
<td><%= link_to 'Korut', categories_path %></td>
<td><%= link_to 'Kortit', categories_path %></td>
<td><%= link_to 'Saippuat', categories_path %></td>
<td><%= link_to 'Miten tilaan', orders_path %></td>
<td><%= link_to 'Tietoa yrityksestä', orders_path %></td>
<td><%= link_to 'Anna palautetta', orders_path %></td>
<td><%= link_to 'Ostoskori', orders_path %></td>
<% #if not current_user.nil? %>

<%# end %>
</tr></table>
