<table class='round navi'><tr class="navi">
<td class='navi'><%= link_to 'Etusivu', items_path %></td>
<td class='navi'><%= link_to 'Korut', Category.find_by_name('Korut') %></td>
<td class='navi'><%= link_to 'Kortit', Category.find_by_name('Kortit') %></td>
<td class='navi'><%= link_to 'Saippuat',  Category.find_by_name('Saippuat') %></td>
<td class='navi'><%= link_to 'Miten tilaan', help_path %></td>
<td class='navi'><%= link_to 'Tietoa yrityksest채', info_path %></td>
<td class='navi'><%= link_to 'Anna palautetta', feedback_path %></td>
<td class='navi'><%= link_to 'Ostoskori', orders_path %></td>
<% if admin? %>
<td class='navi'><%= link_to 'Kategoriat', categories_path %></td>
<td class='navi'><%= link_to 'K채ytt채j채t', users_path %></td>
<td class='navi'><%= link_to 'Tilaustavarat', order_items_path %></td>
<% end %>
<% if current_user and current_user.username %>
<td class='navi'>Kirjautunut tunnuksella <%= current_user.username %>, <%= link_to 'LOG OUT', signout_path %></td>
<% end %>

</tr></table>
